* {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    position: relative;
}
.header {
    height: 100vh;
    background-image: url(Route_66_Larger.png);
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    
}

.animate__bounceInDown {
    color: white;
    font-weight: 900;
    text-shadow: 5px 5px rgb(192, 19, 235);
    font-size: 100px;
    margin-bottom: 100px;
}

.main-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


.animate__bounceInUp {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 70px;
    background-color:  white;
    font-weight: 900;
    font-size: 20px;
    transition: all 0.2s ease-in-out;

}

.animate__bounceInUp:active {
    background-color: #ffffb3;
    border: 5px solid rgb(192, 19, 235);
    border-radius: 70px;
}

.slide_1 {
    height: 100vh;
    background-image: url(T_3-01.jpg);
    background-position: center;
    background-size: cover;
   
}
.slide_2 {
    height: 100vh;
    background-image: url(T_3-01.jpg);
    background-position: center;
    background-size: cover;
    
    
}
.animate__tada {
    position: absolute;
    top: 0%;
    left: 32%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 900;
    text-shadow: 5px 5px rgb(160, 17, 124);
    font-size: 100px;
    margin-bottom: 150px;
    letter-spacing: 3px;
    word-spacing: 10px;
}
.animate__tada:hover {
    color: #7c2946;
    text-shadow: 5px 5px #fff;
}
.animate__rubberBand {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
    text-shadow: 5px 5px rgb(255, 27, 198);
    font-size: 100px;
    margin-bottom: 100px;
}
.animate__rubberBand:hover {
    color: rgb(255, 27, 198);
    text-shadow: 5px 5px white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
  }
.grid-item {
    font-size: 30px;
    text-align: center;
    margin-top: 500px;
  }
.grid {
    display: block;
    float: right;
}

.box {
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: "Lato";

}
.btn btn-li{
    background-color: darkcyan;
    width: 100px;

}

.box h5 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin-top: 80px;
}
.box h1 {
    font-size: 70px;
    color: #fff;
    position: absolute;
    color: white;
    font-weight: 900;
    top: 45%;
    left: 31%;
    transform: translate(-50%, -50%);
}
.box h5:hover {
    color: rgb(255, 27, 198);
}
.contact-form {
    width: 85%;
    max-width: 500px;
    height: 85%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    border: 3px solid rgb(255, 27, 198);
}
.txtb {
    border: 3px solid rgb(255, 27, 198);
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    color: rgb(255, 27, 198);
}
.txtb label {
    display: block;
    text-align: left;
    color: white;
    font-size: 14px;
}
.txtb input, .txtb textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
    color: whitesmoke ;
}
.btn {
    display: inline-block;
    
    padding: 14px 0;
    color: rgb(255, 27, 198);
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
}
i {
    background-color: rgba(155, 32, 124,0.5);
    border-radius: 50%;
}


.navbar {
    list-style: none;
    float: right;
    padding: 50px 50px;
    margin-right: 100px;
    margin-top: 30px;
    font-size: 25px;
}
.nav-2 {
    margin-left: 80px;
}
@keyframes change-color {
    0% {background-color: red;}
    15% {background-color: orange;}
    30% {background-color: yellow;}
    45% {background-color: green;}
    60% {background-color: aqua;}
    75% {background-color: tomato;}
    100% {background-color: violet;}
}
.fa{
    padding-right: 5px;
}




.box {
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: "Lato";

}

.icons {
    position: absolute;
    top: 60%;
    left:25%;
    transform: translate(-50%, -50%);
    list-style: none;
    color: #fff;
    
}
.icons ul li a {
    padding: 30px 30px;
    background-color: darkcyan;
    border-radius: 20%;
    border: darkgoldenrod;
}

#linkedin-btn{
    background-color: #0e76a8;
}
#mail-btn{
    background-color:#D44638;
}
#Github-btn{
    background-color: #24292e;
}

.cardaboutme{
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.abtmecards{
    display: inline-block;
    padding: 20px 20px;
}

.animate__bounceInDown:hover {
    color:rgb(70, 80, 224);
    text-shadow: 5px 5px #fff;
}

.animate__bounceInUp:hover{
    color:rgb(49, 61, 232);
    text-shadow: 5px 5px #fff;   
}

.grid-containe {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-ite {
    font-size: 30px;
    text-align: center;
    display: inline;
    margin-top: 150px;
    margin-left: 50px;
}

.section-about {
    background-color: #fff;
    background-image: url(T_3-01.jpg);
    background-position: top;
    background-size: cover;
    height: 100vh;
  }

  .col-1-of-2 {
    display: block;
    float: left;
    width: 40%;
    margin-bottom: 100px;
    padding-left: 150px;
    margin-top: 200px;
    margin-right: 100px;
  }
  .composition__photo--p1{
      width:500px;
      height: 350px;
      border: 10px solid wheat;
  }
.heading-tertiary{
    text-transform: uppercase;
    color: white;
}
.u-margin-bottom-small{
    color: black;
}